*{
box-sizing: border-box;
}
#calculator{
    height: 80%;
width: 45%;
border: 6px solid black;
min-width: 300px;
padding: 10px;
margin: auto;
min-width: 300px;
min-height: 400px;
margin-top: 80px;




}



:root {
    --border-radius: 5px;
    --border-width: 1px;
    --light-grey: #e2e0e0;
    --blue: #7f6cfc;
    --orange: #ffc877;
    --red: #c14444;
}

#heading{
    background-color: tomato;
border: 2px solid;
width:auto;
margin-top: 40px;
}
#heading h1{
    font-size: 1.5rem;
    font-family: cursive;
    color: white;
    text-align: center;
}
#display-container{
    border: 2px solid black;
font-size: 2.8rem;
    height: 20%;
    min-height: 100px;
    background-color: #F5F5F5;
    border-radius: 10px;
}

#display-container p {
    margin: 0.5rem;
    vertical-align: text-bottom;
}
#button-container{
    width: 100%;
    height: 60%;
    min-height: 300px;
    justify-content: space-around;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    border: var(--border-width) solid var(--light-grey);
    border-radius: var(--border-radius);
    background-color: var(--light-grey);
}
.button{
    border: 2px solid black;
    height: 20%;
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 60px;
    cursor: pointer;
    background-color: white;
    font-size: 1.8rem;
transition-duration: 1s;
border: var(--border-width) solid var(--light-grey);
}
.pink{
    background-color: tomato;
    color: white;
}
#zero{
    width: 50%;
}
